@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");


/* colours */
.bg-color-name-title{
    background-color: beige;
}
.ui-menu-color-home{
    background-color: #a7a7a7;
}
.ui-menu-color-food{
    background-color:#d2ab64;
}
.ui-menu-color-activities{
    background-color: #7690ad;
}
.ui-menu-color-destinations{
    background-color: #d0aeae;
}

/* heading */
header{
    margin: 0;
    text-align: center;
}
 .name{
     font-family: cursive, sans-serif;
     font-weight:100;
     font-size: 40px;
     margin-top: 20px;
 }
/* hover.css*/
.hvr-radial-out{background: transparent;}
.hvr-radial-out:before {
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
}

 /* navigation */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer{font-size: 0;}

#nav {
    margin: 0;
}
#nav li{
    font-size:15px;
    padding: 0;
}

.menuitem{
    height: 30px;
    text-align:center;
    padding: 0;
}
.menuitem a{
    width: 100%;
    text-decoration: none;
    color: white;
}

.meuitem a i {
    display: block;
    font-size: 20px;
    columns: #fafafa;
}

.menuitem span{
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: 300;
    letter-spacing: 1px;
}


/* buttons */

.btn {
	font-weight: bold;
	border-radius: 15px;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
	background-color: rosybrown;
	border-color: rosybrown;
	color: white;
}


/* quotes */

.text-block.intro {
	top: 0px;
	left: 20px;
}

.text-block.food {
	top: 68px;
	left: 65px;
}

.text-block.flag {
	top: 98%;
	left: 450px;
	width: 65px;
}

.text-block.activities {
	top: 68px;
}

.text-block {
	position: absolute;
	top: 300px;
	left: 0px;
	width: 547px;
}


/* footer */

footer {
    
    background-color:#7690ad; 
    color: white;
    min-height: 50px;
    margin: 0;
	bottom: 0;
	width: 100%;
    text-align: center;
}
#foot li {
    font-size: 20px;
    padding:0;
    text-align: center;}


.social-links {
    padding-bottom: 10px;
	text-align:center;
}


.social-links li a i {
	width:32px;
    height: 32px;
    padding:12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background:#8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:#e84610;
}



/* images */

#food {
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 460px;
}

#activities {
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 10px;
}

img {
	position: absolute;
	top: 20px;
	right: 0px;
}

img.quotes {
	height: 120px;
	width: 120px;
}

#flag {
	height: 120px;
	width: 220px;
	top: 5px;
}


/* map */


/* backgrounds */

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home-bg {
	background: url(".././images/background.png") no-repeat fixed;
	background-position: 25% 65px;
	background-color: white;
	background-size: contain;
}

.destinations-bg {
	background: url(".././images/background2.jpg") no-repeat fixed;
	background-size: cover;
	background-position: center center;
	background-color: white;
}

.food-bg {
	background: url(".././images/food background.jpg") no-repeat fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}

.activities-bg {
	background: url(".././images/activities/food background.jpg") no-repeat fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}

.sea-bg {
	background: url(".././images/sea-sun.jpg") no-repeat fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}

.forest-bg {
	background: url(".././images/background4.jpg") no-repeat fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}

.adventure-bg {
	background: url(".././images/adventure.jpg") no-repeat fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}


/* containers */


/*------------------------------------------------------Card gallery*/
.card-block{
    margin-bottom:20px;
    text-align: center;
    }

h6{position: relative;
bottom:275px;}

.row-gallery{
    display: flex;
    margin-top: 50px;
    }

.card{
    display: flex;
    background-color: beige;
    margin-bottom: 40px;
	outline-width: 7px;
	outline-color:#7690ad ;
	outline-style: solid;}


.container{margin-top:50px;
	}

body{background-color: transparent;}


img{
    position: relative;
    top:20px;
    bottom: 20px;
}

.justify-content-around{justify-content:space-around;}