@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
  font-family: "Roboto", sans-serif, cursive;
  margin: 0;
  text-align: center;
}

/*--------------------navigation---------------*/



ul {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  background: transparent;
}

/*--------------------header---------------*/

.header {
  background-color: beige;
  font-family: cursive;
}

/*--------------------places---------------*/


.vlore {
  position: absolute;
  top: 130px;
  right: 570px;
}

.llogara {
  position: absolute;
  top: 230px;
  right: 670px;
}

.himare {
  position: absolute;
  top: 330px;
  right: 870px;
}

.dhermi {
  position: absolute;
  top: 430px;
  right: 970px;
}

.sarande {
  position: absolute;
  top: 130px;
  right: 470px;
}

.gjirokaster {
  position: absolute;
  top: 130px;
  right: 570px;
}

.permet {
  position: absolute;
  top: 130px;
  right: 570px;
}

.korce {
  position: absolute;
  top: 130px;
  right: 570px;
}

.pogradec {
  position: absolute;
  top: 130px;
  right: 570px;
}

.fier {
  position: absolute;
  top: 130px;
  right: 570px;
}

.berat {
  position: absolute;
  top: 130px;
  right: 570px;
}

.elbasan {
  position: absolute;
  top: 130px;
  right: 570px;
}

.durres {
  position: absolute;
  top: 130px;
  right: 570px;
}

.tirane {
  position: absolute;
  top: 130px;
  right: 570px;
}

.shkoder {
  position: absolute;
  top: 130px;
  right: 570px;
}

.tropoje {
  position: absolute;
  top: 130px;
  right: 570px;
}

.diber {
  position: absolute;
  top: 130px;
  right: 570px;
}

.kukes {
  position: absolute;
  top: 130px;
  right: 570px;
}

.kruje {
  position: absolute;
  top: 130px;
  right: 570px;
}

.lac {
  position: absolute;
  top: 130px;
  right: 570px;
}

.lezhe {
  position: absolute;
  top: 130px;
  right: 570px;
}

/*--------------------places---------------*/

/*--------------------quotes---------------*/

.container.food99 {
  width: 600px;
  height: 200px;
  left: 80%;
  top: 60%;
  margin-left: -340px;
  background-color: beige;
}

.container.activities98 {
  width: 600px;
  height: 200px;
  left: 80%;
  top: 25%;
  margin-left: -340px;
  background-color: beige;
}

.text-block.food99 {
  margin: 0;
  padding: 0;
  top: 100px;
  left: 140px;
  font-family: sans-serif;
}

.text-block.activities98 {
  margin: 0;
  padding: 0;
  top: 110px;
  left: 100px;
  font-family: sans-serif;
}

/*--------------------images---------------*/
.food {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 460px;
}

.activities {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 50px;
}

/*--------------------images---------------*/

/*--------------------container-places---------------*/

.container{
    position: absolute;
    width: 546px;
    height: 390px;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
    size: cover;}



.location{
    position: absolute;
    width: 1px;
    height: 22px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: monospace;
    color: red;

}





.text-block {
    position: absolute;
      top: 272px;
      left: 0px;
      width: 547px;
      }



img{position: absolute;
  top: 0;
  right: 0px;}



  h6 {
  margin-bottom: 0;
}


/*--------------------container-places---------------*/

#vlore {
  left: 23%;
  top: 75%;
}

#llogora {
  left: 26%;
  top: 77%;
}

#dhermi {
  left: 23%;
  top: 81%;
}

#himare {
  left: 24%;
  top: 86%;
}

#sarande {
  left: 30%;
  top: 89%;

}

#gjirokaster {
  left: 32%;
  top: 80%;
}

#permet {
  left: 34%;
  top: 74%;
}

#korce {
  left: 37%;
  top: 65%;
}

#pogradec {
  left: 36%;
  top: 57%;
}

#fier {
  left: 22%;
  top: 62%;
}

#berat {
  left: 28%;
  top: 63%;
}

#elbasan {
  left: 29%;
  top: 53%;
}

#durres {
  left: 22%;
  top: 43%;
}

#tirane {
  left: 27%;
  top: 44%;
}

#shkoder {
  left: 25%;
  top: 22%;
}

#tropoje {
  left: 28%;
  top: 16%;
}

#diber {
  left: 33%;
  top: 34%;
}

#kukes {
  left: 34%;
  top: 27%;
}

#kruje {
  left: 24%;
  top: 39%;
}

#lac {
  left: 24%;
  top: 33%;
}

#lezhe {
  left: 28%;
  top: 31%;
}

/*--------------------main_destinations---------------*/

/*--------------------Vlore---------------*/


#city-1 {
  left: 30%;
  top: 3%;
}



/*--------------------Dhermi---------------*/


#city-2 {
  left: 81%;
  top: 3%;
}


/*--------------------himara---------------*/

#city-3{
  left: 30%;
  top: 57%;
}



/*--------------------saranda---------------*/


#city-4{
  left: 81%;
  top: 57%;
}



/*--------------------llogora---------------*/


#city-5{
  left: 81%;
  top: 495%;
}



/*--------------------pogradeci---------------*/

#city-6{
  left: 81%;
  top: 110%;
}




/*--------------------gjirokaster---------------*/



#city-7{
  left: 30%;
  top: 110%;
}



/*--------------------durres---------------*/


#city-8{
  left: 81%;
  top: 165%;
}




/*--------------------fieri---------------*/

#city-9{
  left: 30%;
  top: 165%;
}



/*--------------------shkoder---------------*/


#city-10{
  left: 30%;
  top: 220%;
}



/*--------------------berat---------------*/

#city-11{
  left: 81%;
  top: 220%;
}



/*--------------------elbasan---------------*/


#city-12{
  left: 30%;
  top: 275%;

}



/*--------------------korce---------------*/


#city-13{
  left: 81%;
  top: 275%;
}




/*--------------------kruja---------------*/



#city-14{
  left: 30%;
  top: 330%;
}




/*--------------------kukes---------------*/


#city-15{
  left: 81%;
  top: 330%;
}




/*--------------------Permeti---------------*/


#city-16{
  left: 30%;
  top: 385%;
}




/*------------------Lac-----------------*/


#city-17{
  left: 81%;
  top: 385%;
}




/*------------------Lezhe-----------------*/



#city-18{
  left: 30%;
  top: 440%;
}




/*------------------Tirana-----------------*/

#city-19{
  left: 81%;
  top: 440%;
}




/*------------------Diber-----------------*/



#city-20{
  left: 30%;
  top: 495%;
}




/*------------------Places------------------------------------------*/

.lungo.mare {
  position: absolute;
  top: 0px;
  right: 2px;
}
.container.lungomare {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 30%;
  top: 8%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.lungomare {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.kanina {
  position: absolute;
  top: 0;
  right: 1px;
}

.container.kanina {
  position: absolute;
  width: 546px;
  height: 310px;
  left: 81%;
  top: 8%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.kanina {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.zvernec {
  position: absolute;
  top: 0px;
  right: 2px;
}
.container.zvernec {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 30%;
  top: 63%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.zvernec {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.karaburun {
  position: absolute;
  top: 0;
  right: 1px;
}

.container.karaburun {
  position: absolute;
  width: 546px;
  height: 310px;
  left: 81%;
  top: 63%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.karaburun {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.manastir {
  position: absolute;
  top: 0px;
  right: 2px;
}

.container.manastir {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 30%;
  top: 118%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.manastir {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.monumenti {
  position: absolute;
  top: 0;
  right: 1px;
}

.container.monumenti {
  position: absolute;
  width: 546px;
  height: 310px;
  left: 81%;
  top: 118%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.monumenti {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.muze {
  position: absolute;
  top: 0px;
  right: 2px;
}

.container.muze {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 30%;
  top: 173%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.muze {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.pylli {
  position: absolute;
  top: 0;
  right: 1px;
}

.container.pylli {
  position: absolute;
  width: 546px;
  height: 310px;
  left: 81%;
  top: 173%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.pylli {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.ishull {
  position: absolute;
  top: 0px;
  right: 2px;
}

.container.ishull {
  position: absolute;
  width: 550px;
  height: 310px;
  left: 30%;
  top: 228%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.ishull {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

.karaburun.shpelle {
  position: absolute;
  top: 0;
  right: 1px;
}

.container.karaburun.shpelle {
  position: absolute;
  width: 546px;
  height: 310px;
  left: 81%;
  top: 228%;
  margin-left: -340px;
  background-color: beige;
  margin-top: 20px;
}
.text-block.karaburun.shpelle {
  position: relative;
  margin: 0;
  padding: 0;
  top: 272px;
  left: 0px;
  font-family: sans-serif;
}

h6 {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container-vlore {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 3%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-dhermi {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 70%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container-himara {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 137%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container-saranda {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 204%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-pogradeci {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 271%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-gjirokaster {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 338%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container-durres {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 405%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-fieri {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 472%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-shkoder {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 539%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-berat {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 606%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-elbasan {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 673%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-korca {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 740%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-kruja {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 807%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-kukes {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 874%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-permet {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 941%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-lac {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 1008%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-lezhe {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 1075%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-tirana {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 1142%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-tropoja {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 1209%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-llogora {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 1276%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.lungomare {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 3%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.kanina {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 70%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.zvernec {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 137%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.karaburun {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 204%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.manastir {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 271%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.monumenti {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 338%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container.muze {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 405%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container.pylli {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 472%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container.ishull {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 539%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container.karaburun.shpelle {
    position: absolute;
    width: 512px;
    height: 350px;
    left: 91%;
    top: 606%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-vlore {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 3%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-dhermi {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 70%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-himara {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 137%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .ccontainer-saranda {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 204%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-gjirokaster {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 271%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-pogradeci {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 338%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container-fieri {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 405%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container-durres {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 472%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }
  .container-shkoder {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 539%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .ccontainer-berat {
    position: absolute;
    width: 512px;
    height: 400px;
    left: 91%;
    top: 606%;
    margin-left: -340px;
    background-color: beige;
    margin-top: 20px;
  }

  .container.food99 {
    display: none;
  }

  .container.activities98 {
    display: none;
  }

  .container.tropoje {
    left: 35%;
    top: 17%;
    
  }
        /*--------------------places---------------*/
  .container.tropoje{
    left: 35%;
    top: 17%;
  }
  .container.kukes{
    left: 50%;
    top: 28%;
  }

  .container.lezhe{
    left:35%;
    top:34%;
  }

  .container.diber{
    left:49%;
    top:36%;
  }
   .container.durres{
     left:18%;
     top:45%;
   }

   .container.tirane{
     top:46%;
     left:34%;
   }
   .container.elbasan{
     top:53.8%;
     left:35%;
   }

   .container.pogradec{
     left:57%;
     top:58%;
   }
   .container.korce{
     left:57%;
     top:66%;
   }

   .container.berat{
     left:34%;
     top:66%;
   }

   .container.fier{
     left:16%;
     top:63%;
   }
   .container.permet{
     left:50%;
     top:75%;
   }
   .container.gjirokaster{
     left:45%;
     top:82%;
     }

    .container.sarande{
      left:41%;
      top:91%;
    } 

    .container.dhermi{
      left:20%;
    }

    .container.vlore{
      left:18%;
    }

    .container.llogora{
      left:26%;
      top:77%;
    }
}


@media only screen and (min-width: 500px) {
.dropbtn{display: none;}
}


@media only screen and (max-width: 1024px) {
   .container.tropoje{
   left: 32%;
   top: 15%;}

   .container.kukes{
     left: 43%;
     top: 26%;
   }

   .container.diber{
     left:43%;
   }

   .container.durres{
     left: 20%;
   }
   .container.elbasan{
     left:33%;
     top:51%;
   }
   .container.pogradec{
     left:49%;
     top:56%;
   }

   .container.korce{
     left: 52%;
     top: 64%;
   }

   .container.permet{
     left: 51%;
     top: 72%;
   }

   .container.gjirokaster{
     left: 39%;
   }

   .container.sarande{
     left: 37%;
     top: 88%;
   }

   .container.vlore{
     left:21%;
     top: 70%;
   }

   .container.llogora{
     left:21%;
     top:74%;
   }

   .container.berat{
     left:31%;
     top:62%;
   }


   .container.activities98{
     width: 240px;
     height: 300px;
     left:108%;
   }
   .activities{
    top:5%;

   }

   .text-block.activities98{
     top:60%;
     left:4%;
   }



   .container.food99{
     width:240px;
     height:300px;
     left:108%;
   }


   .food{
     top:5%;
     left:30%
   }

  .text-block.food99 {
    top:60%;
    left:4%;
  }

}

@media only screen and (max-height:375px){
  .places{display:none;}
  .container.food99{height:125px;width:332px; left:100%;}
  .container.activities98{height:125px;width:332px; left:100%;}
  .text-block.food99{top:10%; left:10%;}
  .text-block.activities98{top:10%; left:10%;}
  .food{left:-50px;}
  .activities{top:1%; left:-15%;}
  .dropbtn{display:block;}
}



@media only screen and (min-width: 768px){

.container-vlore{left: 45%; width: 757px;}
.vlore1{width:700px;left:32px;}
.text-block.vlore1{left: 30px;}

.container-dhermi{left: 45%; top:58%; width:757px;}
.dhermi{width:700px;left:32px;}


.container-himara{left: 45%; top:112%; width:757px;}
.himara{width:700px; left:32px;}
.text-block.himara1{left: 30px;}

.container-saranda{left: 45%; top:166%; width:757px;}
.saranda{width: 700px; left:32px;}

.container-pogradeci{left:45%; top:220%; width:757px;}
.pogradeci{width: 700px; left:32px;}
.text-block.pogradeci{left: 30px;}

.container-gjirokaster{left:45%; top:274%; width:757px;}
.gjirokaster{width:700px; left:32px;}
.text-block.gjirokaster1{left: 30px;}

.container-durres{left:45%; top:328%; width:757px;}
.durres1{width: 700px; left:32px;}

.container-fieri{left:45%; top:382%; width:757px;}
.fieri1{width:700px; left:32px;}
.text-block.durres1{left: 30px;}

.container-shkoder{left:45%; top:436%; width:757px;}
.shkoder1{width:700px; left:32px;}
.text-block.shkoder1{left: 30px;}

.container-berat{left:45%; top:490%; width:757px;}
.berat3{width:700px; left:32px;}
.text-block.berat3{left: 30px;}

.container-elbasan{left:45%; top:544%; width:757px;}
.elbasan2{width:700px; left:32px;}
.text-block.elbasan2{left: 30px;}

.container-korca{left:45%; top:598%; width:757px;}
.korca2{width:700px; left:32px;}
.text-block.korca2{left: 30px;}


.container-kruja{left:45%; top:652%; width:757px;}
.kruja2{width:700px; left:32px;}
.text-block.kruja2{left: 30px;}

.container-kukes{left:45%; top:706%; width:757px;}
.kukes2{width:700px; left:32px;}
.text-block.kukes2{left: 30px;}

.container-permet{left:45%; top:760%; width:757px;}
.permeti2{width:700px; left:32px;}
.text-block.permeti2{left: 30px;}

.container-lac{left: 45%; top: 814%; width:757px;}
.laci2{width:700px; left:32px;}
.text-block.laci2{left: 30px;}

.container-lezhe{left:45%; top:868%; width:757px;}
.lezhe2{width:700px; left:32px;}
.text-block.lezhe2{left: 30px;}

.container-tirana{left: 45%; top:922%; width:757px;}
.tirana2{width:700px; left:32px;}
.text-block.tirana2{left: 30px;}

.container-tropoja{left: 45%; top:976%; width:757px;}
.diber2{width: 700px; left:32px;}

.container-llogora{left: 45%; top:1030%; width:757px;}
.llogora2{width:700px; left:32px;}
.text-block.llogora2{left: 30px;}






.container.lungomare{left: 48%; width: 757px;}
.lungo.mare{width:700px;left:10px;}
.text-block.lungomare{left: 30px;}

.container.kanina{left: 48%; top:58%; width:757px;}
.kanina{width:700px;left:10px;}
.text-block.kanina{left: 30px;}

.container.zvernec{left: 48%; top:112%; width:757px;}
.zvernec{width:700px; left:10px;}
.text-block.zvernec{left: 30px;}

.container.karaburun{left: 48%; top:166%; width:757px;}
.karaburun{width: 700px; left:10px;}
.text-block.karaburun{left: 30px;}

.container.manastir{left:48%; top:220%; width:757px;}
.manastir{width: 700px; left:10px;}
.text-block.manastir{left: 30px;}

.container.monumenti{left:48%; top:274%; width:757px;}
.monumenti{width:700px; left:10px;}
.text-block.monumenti{left: 30px;}

.container.muze{left:48%; top:328%; width:757px;}
.muze{width: 700px; left:10px;}
.text-block.muze{left: 30px;}

.container.pylli{left:48%; top:382%; width:757px;}
.pylli{width:700px; left:10px;}
.text-block.pylli{left: 30px;}

.container.ishull{left:48%; top:436%; width:757px;}
.ishull{width:700px; left:10px;}
.text-block.ishull{left: 30px;}

.container.karaburun.shpelle{left:48%; top:490%; width:757px;}
.shpelle{width:700px; left:10px;}
.text-block.shpelle{left: 30px;}


}






@media only screen and (max-height:375px){


.container-vlore{left: 45%; width: 750px;}
.vlore1{width:684px;left:50px;}
.text-block.vlore1{left:40px;}

.container-dhermi{left: 45%; top:120%; width:750px;}
.dhermi{width:684px;left:50px;}
.text-block.dhermi1{left:40px;}

.container-himara{left: 45%; top:240%; width:750px;}
.himara{width:684px; left:50px;}
.text-block.himara1{left: 40px;}

.container-saranda{left: 45%; top:360%; width:750px;}
.saranda{width: 684px; left:50px;}
.text-block.saranda1{left:40px;}

.container-pogradeci{left:45%; top:480%; width:750px;}
.pogradeci{width: 684px; left:50px;}
.text-block.pogradeci{left: 40px;}

.container-gjirokaster{left:45%; top:600%; width:750px;}
.gjirokaster{width:684px; left:50px;}
.text-block.gjirokaster1{left: 40px;}

.container-durres{left:45%; top:720%; width:750px;}
.durres1{width: 684px; left:32px;}

.container-fieri{left:45%; top:840%; width:750px;}
.fieri1{width:684px; left:50px;}
.text-block.durres1{left: 40px;}

.container-shkoder{left:45%; top:960%; width:750px;}
.shkoder1{width:684px; left:50px;}
.text-block.shkoder1{left: 40px;}

.container-berat{left:45%; top:1080%; width:750px;}
.berat3{width:684px; left:50px;}
.text-block.berat3{left: 40px;}

.container-elbasan{left:45%; top:1200%; width:750px;}
.elbasan2{width:684px; left:50px;}
.text-block.elbasan2{left: 40px;}

.container-korca{left:45%; top:1320%; width:750px;}
.korca2{width:684px; left:50px;}
.text-block.korca2{left: 40px;}


.container-kruja{left:45%; top:1440%; width:750px;}
.kruja2{width:684px; left:50px;}
.text-block.kruja2{left: 40px;}

.container-kukes{left:45%; top:1560%; width:750px;}
.kukes2{width:684px; left:50px;}
.text-block.kukes2{left: 40px;}

.container-permet{left:45%; top:1680%; width:750px;}
.permeti2{width:684px; left:50px;}
.text-block.permeti2{left: 40px;}

.container-lac{left: 45%; top: 1800%; width:750px;}
.laci2{width:684px; left:50px;}
.text-block.laci2{left: 40px;}

.container-lezhe{left:45%; top:1920%; width:750px;}
.lezhe2{width:684px; left:50px;}
.text-block.lezhe2{left: 40px;}

.container-tirana{left: 45%; top:2040%; width:750px;}
.tirana2{width:684px; left:50px;}
.text-block.tirana2{left: 40px;}

.container-tropoja{left: 45%; top:2160%; width:750px;}
.diber2{width: 684px; left:50px;}

.container-llogora{left: 45%; top:2280%; width:750px;}
.llogora2{width:684px; left:50px;}
.text-block.llogora2{left: 40px;}






.container.lungomare{left: 60%; width: 540px;}
.lungo.mare{width:537px;}


.container.kanina{left: 60%; top:100%; width:540px;}
.kanina{width:537px;}


.container.zvernec{left: 60%; top:200%; width:540px;}
.zvernec{width:537px;}


.container.karaburun{left: 60%; top:300%; width:540px;}
.karaburun{width: 537px;}


.container.manastir{left:60%; top:400%; width:540px;}
.manastir{width: 537px;}

.container.monumenti{left:60%; top:500%; width:540px;}
.monumenti{width:537px;}


.container.muze{left:60%; top:600%; width:540px;}
.muze{width: 537px;}


.container.pylli{left:60%; top:700%; width:540px;}
.pylli{width:537px;}


.container.ishull{left:60%; top:800%; width:540px;}
.ishull{width:535px;}
.text-block.ishull{left:-10px;}

.container.karaburun.shpelle{left:60%; top:900%; width:540px;}
.shpelle{width:539px; left:-1px;}
.text-block.shpelle{left: 40px;}




}